footer {
  background-image: url(../assets/images/Background_Contacts.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 49.1875rem;

  padding: 8rem 1rem 12.5rem 1rem;
}

#contact {
  margin-top: 3rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#contact a {
  background-color: var(--gray-300);
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.25rem;
  border-radius: 8px;
}

#contact a div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}